html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
}
input {
    border: none;
}
body {
    margin-left: 45px;
}
header {
    background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.header-links a {
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px; /* Memberi jarak antara tag anchor */
}

.header-links a:first-child {
    margin-right: 15px; /* Memberi jarak pertama dari logo */
}

.header-links .review-link {
    border-bottom: solid 3px #00d1ff;
}
.header-links a:hover {
}

.page-review {
    box-sizing: border-box;
    padding: 10rem 28rem 13rem 21rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.page-review .auto-group-wcxd-XQZ {
    margin: 0rem 11rem 2.9rem 10rem;
    width: calc(100% - 21rem);
    height: 4.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.page-review .auto-group-wcxd-XQZ .intro-review {
    margin: 0.1rem 3.6rem 0rem 0rem;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.page-review .auto-group-wcxd-XQZ .button-uT3 {
    width: 15.2rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.0333rem;
    color: #000000;
    font-family: Poppins, "Source Sans Pro";
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1.2rem;
    flex-shrink: 0;
    text-decoration: none;
}
.page-review .auto-group-uuad-CqT {
    margin-bottom: 3.3rem;
    box-sizing: border-box;
    padding: 2.5rem 2.7rem 14.1rem 2.7rem;
    width: 100%;
    row-gap: 1.6rem;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #000000;
    background-color: #ffffff;
    border-radius: 1.5rem;
    flex-shrink: 0;
}

.page-review .auto-group-uuad-CqT .temp-kosong {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.page-review .auto-group-uuad-CqT .auto-group-1qdb-Szh {
    margin: 0rem 58rem 0rem 0.1rem;
    width: calc(100% - 58.1rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.page-review .auto-group-uuad-CqT .auto-group-1qdb-Szh .nama-Mbs {
    margin-right: 4.3rem;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.0333rem;
    color: #000000;
    font-family: Poppins, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.page-review .auto-group-uuad-CqT .auto-group-1qdb-Szh .name-user {
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.0333rem;
    color: #000000;
    font-family: Poppins, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.page-review .auto-group-uuad-CqT .auto-group-ywt1-azR {
    margin-right: 67.7rem;
    width: calc(100% - 67.7rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.page-review .auto-group-uuad-CqT .auto-group-ywt1-azR .rating-jMX {
    margin: 0rem 5rem 0.2rem 0rem;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.0333rem;
    color: #000000;
    font-family: Poppins, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.page-review .auto-group-uuad-CqT .auto-group-ywt1-azR .rating-data {
    margin-top: 0.2rem;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.0333rem;
    color: #000000;
    font-family: Poppins, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.page-review .auto-group-uuad-CqT .text-review {
    max-width: 62.4rem;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.0333rem;
    color: #000000;
    font-family: Poppins, "Source Sans Pro";
    flex-shrink: 0;
}
.page-review .auto-group-wecd-yHo {
    margin: 0rem 48.1rem 0rem 2.4rem;
    width: calc(100% - 50.5rem);
    height: 4.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.page-review .auto-group-wecd-yHo .button-HJV {
    margin-right: 4.4rem;
    width: 15.2rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.0333rem;
    color: #000000;
    font-family: Poppins, "Source Sans Pro";
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1.2rem;
    flex-shrink: 0;
    text-decoration: none;
}
.page-review .auto-group-wecd-yHo .button-AFo {
    width: 15.2rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.0333rem;
    color: #000000;
    font-family: Poppins, "Source Sans Pro";
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1.2rem;
    flex-shrink: 0;
}
