html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
}
input {
    border: none;
}
body {
    padding-left: 35px;
}
.page-form-Umb {
    box-sizing: border-box;
    padding: 9.7rem 16.3rem 15.3rem 16.2rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.page-form-Umb .auto-group-2v7f-mVo {
    box-sizing: border-box;
    padding: 2.6rem 2.8rem;
    width: 100%;
    display: flex;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.0333rem;
    color: #000000;
    font-family: Poppins, "Source Sans Pro";
    white-space: nowrap;
    background-color: #d9d9d9;
    flex-shrink: 0;
}
.page-form-Umb .auto-group-kgsr-piy {
    box-sizing: border-box;
    padding: 4.2rem 5.5rem 3.6rem 5.5rem;
    width: 100%;
    row-gap: 3rem;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #000000;
    background-color: #ffffff;
    flex-shrink: 0;
}

.page-form-Umb .auto-group-kgsr-piy .auto-group-6qhj-wYh {
    margin-right: 65rem;
    width: calc(100% - 65rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0px 10px 10px 10px;
}
.page-form-Umb .auto-group-kgsr-piy .auto-group-6qhj-wYh .rating-h25 {
    margin-right: 4.1rem;
    display: flex;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.0333rem;
    color: #000000;
    font-family: Poppins, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.page-form-Umb .auto-group-kgsr-piy .auto-group-6qhj-wYh .rating-input-1 {
    width: 16.6rem;
    height: 3.6rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    flex-shrink: 0;
}
.page-form-Umb .auto-group-kgsr-piy .auto-group-aksp-fND {
    margin-right: 14.5rem;
    width: calc(100% - 14.5rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0px 10px 10px 10px;
}
.page-form-Umb .auto-group-kgsr-piy .auto-group-aksp-fND .review-ojK {
    margin-right: 3.4rem;
    display: flex;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.0333rem;
    color: #000000;
    font-family: Poppins, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.page-form-Umb .auto-group-kgsr-piy .auto-group-aksp-fND .review-input-1 {
    width: 67.1rem;
    height: 19rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    flex-shrink: 0;
}
.page-form-Umb .auto-group-kgsr-piy .button-S1b {
    width: 30.5rem;
    height: 4.8rem;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.0333rem;
    color: #000000;
    font-family: Poppins, "Source Sans Pro";
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1.2rem;
    flex-shrink: 0;
    margin-top: 20px;
}
