.sign-in {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .sign-in .div {
    background-color: var(--white);
    width: 1920px;
    height: 1080px;
    position: relative;
  }
  
  .sign-in .content {
    display: flex;
    width: 960px;
    height: 1080px;
    gap: 70px;
    position: absolute;
    top: 0;
    left: 960px;
    background-color: var(--white);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sign-in .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .sign-in .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-in .p {
    position: relative;
    align-self: stretch;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-in .content-2 {
    display: inline-flex;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sign-in .form {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .sign-in .email-form {
    display: flex;
    width: 600px;
    height: 80px;
    align-items: center;
    padding: 10px 30px;
    position: relative;
    background-color: var(--white);
    border-radius: 14px;
    border: 4px solid;
    /* border-color: var(--subtle-grey); */
  }
  
  .sign-in .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--mid-grey);
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-in .password-form {
    display: flex;
    width: 600px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    position: relative;
    background-color: var(--white);
    border-radius: 14px;
    border: 4px solid;
    border-color: var(--subtle-grey);
  }
  
  .sign-in .eye-slash {
    position: relative;
    width: 31px;
    height: 27px;
  }
  
  .sign-in .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }

  .label{
    text-align: center;
  }
  
  .label .text-wrapper {
    width: 600px;
    height: 80px;
    align-items: center;
    padding: 20px 30px;
    position: relative;
    background-color: #6FBEFF;
    border-radius: 14px;
    text-align: center;
  }
  
  .sign-in .text-wrapper-4 {
    position: relative;
    flex: 1;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-in .or-sign-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .sign-in .line {
    position: relative;
    width: 200px;
    height: 1px;
    object-fit: cover;
  }
  
  .sign-in .text-wrapper-5 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-in .google {
    position: relative;
    flex: 0 0 auto;
  }
  
  .sign-in .sign-up {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .sign-in .don-t-have-an {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-in .span {
    color: #3f4141cc;
  }
  
  .sign-in .text-wrapper-6 {
    color: #6e5de7;
  }
  
  .sign-in .text-wrapper-7 {
    color: #000000;
  }
  
  .sign-in .illustration {
    position: absolute;
    width: 960px;
    height: 1080px;
    top: 0;
    left: 0;
  }